*{
  margin: 0;
  padding: 0;
}

.college {
  background-attachment: fixed;
  background-image: url('./components/pics/college.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.coverPics{
  height: 250px;
  width: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.scroll-container {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.scroll-container::-webkit-scrollbar {
  display: none;  
  -ms-overflow-style: none;
}